body{
    background-color: #8a8abd;
    font-family: 'Open Sans', sans-serif;

}
h1, h2{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body > div{
    margin-top: 2rem;
}
body .container-fluid h1{
    margin: 30px 10px;
}

body .container-fluid .row .cards-body{
    background-color: white;
    /* width: 33%; */
    min-height: 30vh;
    padding: 10px 0;
    border: solid 1px;
    border-radius: 10px;
}

body .container-fluid .row .cards-body .card, 
body .container-fluid .row .cards-body h2{
    width: 90%;
    margin: 10px auto;    
}

body .container-fluid .row .cards-body .card{
    background-color: #e9e9e9;
    min-height: 100px;
}

body .container-fluid .row #toDo.cards-body .card{
    background-color: #ff000047;
}

body .container-fluid .row #inProgress.cards-body .card{
    background-color: #ffff0059;
}

body .container-fluid .row #done.cards-body .card{
    background-color: #00800047;
}

body .container-fluid .row .cards-body .card p{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
}
body .container-fluid .row .cards-body .card .content p{
    margin-bottom: 15px;
}

body .container-fluid .row .cards-body .card .title{
    font-size: 1.5rem;
    font-weight: bold;
}

body .container-fluid .row .cards-body .card .icon-wrapper{
    position: absolute;
    display: flex;
    right: 10px;
    top: 5px;
}

body .container-fluid .row .cards-body .card .icon-wrapper .icon{
    width: 20px;
}
body .container-fluid .row .cards-body .card .icon-wrapper a{
    pointer-events: all;
}
body .container-fluid .row .cards-body .card .icon-wrapper .icon img{
    width: 14px;
}
body .container-fluid .row .cards-body .card .icon-wrapper .left-icon.icon img{
    width: 10px;
}
body .container-fluid .row .cards-body .card .icon-wrapper .right-icon.icon img{
    width: 10px;
}